<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Basic Table</h2>
  <a href="/upload" type="button" class="btn">Create</a>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>The Loai</th>
      <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Product: ${ListProduct}">
      <td th:text="${Product.id}"></td>
      <td th:text="${Product.name}"></td>
      <td th:text="${Product.theloai}"></td>
      <td><img style="width: 100px;height: 100px" th:src="${Product.path}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>